table{
    margin:auto;
    margin-bottom: 15px;
}
form{
    width: 350px;
    height:100%;
    border: 1px solid #cadbdc;
    border-radius: 5px;
    margin: auto;
    margin-top: 200px;
    background-color: #400707;
    opacity: 0.7;
    color: aliceblue;
}
h1{
    text-align:center;
}
body{
    background-image: url("../img/background/bg-regis.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}